language: cpp

sudo: false

cache: apt

notifications:
  email: false

_packages:
  - &default_packages
    - mysql-server
    - libmysqlcppconn-dev
    - make
    - zip
    - unzip
  - &GCC
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - *default_packages
          - g++-4.9-multilib
    before_install:
      - export CC="gcc-4.9"
      - export CXX="g++-4.9"
  - &Clang
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-precise-3.5
        packages:
          - *default_packages
          - libstdc++-4.9-dev # Proper version of std library
          - clang-3.5
    before_install:
      - export CC="clang-3.5"
      - export CXX="clang++-3.5"

matrix:
  fast_finish: true
  include:
    # GCC
    - compiler: gcc
      <<: *GCC
      env:
    - compiler: gcc
      <<: *GCC
      env: DEBUG=1
    - compiler: gcc
      <<: *GCC
      env: DEBUG=2
    # Clang
    - compiler: clang
      <<: *Clang
      env:
    - compiler: clang
      <<: *Clang
      env: DEBUG=1
    - compiler: clang
      <<: *Clang
      env: DEBUG=2

before_script:
  - $CC -v
  - $CXX -v
  - export CC="$CC -Werror"
  - export CXX="$CXX -Werror"
  - mysql -e "CREATE USER sim@localhost IDENTIFIED BY 'sim'; CREATE DATABASE sim; GRANT ALL ON sim.* TO 'sim'@'localhost';" -u root

script:
  # Suppressed warning on src/lib/cpp_syntax_highlighter.c file - this is a GCC bug
  - if [ "$CXX" = "g++-4.9 -Werror" ]; then echo 'cpp_syntax_highlighter.o: EXTRA_CXX_FLAGS += -Wno-missing-field-initializers' >> src/lib/Makefile; fi
  # Build project
  - make -kj $(grep -c ^processor /proc/cpuinfo) DEBUG=$DEBUG build test
  - printf 'sim\nsim\nsim\nlocalhost\n' | make install run
  - wget -t 5 -T 1 --retry-connrefused http://127.7.7.7:8080/
  - cat index.html
  - cat build/logs/*.log
