# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# GNU Make dependences
*.dep-s

# Others
src/cpp/judge_machine
src/cpp/CTH
src/cpp/chmod-default