# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# GNU Make dependences
*.mkdep

# Others
build/
sim.tar.gz
src/judge/judge_machine
src/judge/CTH
src/chmod-default