# Compiled Object files
*.slo
*.lo
*.o

# Compiled debug information (DWARF)
*.dwo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# GNU Make dependences
*.deps

# Others
.clangd/
*build/
compile_commands.json
sip
sip-static
