# Compiled Object files
*.slo
*.lo
*.o

# Compiled debug information (DWARF)
*.dwo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# GNU Make dependences
*.deps

# Python
__pycache__/

# Build
/*build/

# Build targets
sip
sip-static

# Development
/.cache/
/.clangd/
/compile_commands.json
/*.sublime-project
/*.sublime-workspace
